<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Passwordless Demo</title>
    <script src="/js/index.js" type="module"></script>
</head>

<body>
    <h1>Passwordless Demo</h1>

    <div id="authenticated" hidden>
        <button id="logout-button">Logout</button>
    </div>

    <div id="guest" hidden>
        <h2>Access</h2>

        <form id="access-form">
            <label for="email-input">Email:</label>
            <input type="email" id="email-input" placeholder="Email" required>
            <button type="submit">Send Magic Link</button>
        </form>
    </div>
</body>

</html>
