:root {
    box-sizing: border-box;
    font-family: 'Segoe UI', sans-serif;
}

*,
::before,
::after {
    box-sizing: inherit;
}

body {
    margin: 0;
}

h1 {
    font-weight: 300;
}

h2 {
    text-transform: uppercase;
    font-weight: 700;
    letter-spacing: -1px;
}

form {
    display: flex;
    flex-direction: column;
}

form > * + * {
    margin-top: .5rem;
}

button,
input {
    border-radius: 1.5rem;
    border-style: solid;
    font: inherit;
    color: inherit;
    height: 3rem;
    padding: 0 1.5rem;
}

.container {
    width: calc(100% - 2rem);
    max-width: 65ch;
    margin: 0 auto;
}
