body {
    background-color: white;
    box-sizing: border-box;
    color: black;
    font-family: sans-serif;
    margin: 0;
    -ms-overflow-style: -ms-autohiding-scrollbar;
}

*,
::before,
::after {
    box-sizing: inherit;
}

.container {
    width: calc(100% - 2rem);
    max-width: 65ch;
    margin: 0 auto;
}

button,
input {
    color: inherit;
    font: inherit;
}

button {
    touch-action: manipulation;
    user-select: none;
}

a {
    color: #4768fd;
}

[disabled] {
    opacity: .7;
    pointer-events: none;
}
