:root {
    box-sizing: border-box;
    font-family: sans-serif;
    -ms-overflow-style: -ms-autohiding-scrollbar;
}

*,
::before,
::after {
    box-sizing: inherit;
}

body {
    margin: 0;
}

.container {
    width: calc(100% - 2rem);
    max-width: 65ch;
    margin: 0 auto;
}

button,
input {
    color: inherit;
    font: inherit;
}

button {
    touch-action: manipulation;
    user-select: none;
}

a {
    color: #4768fd;
}

[disabled] {
    opacity: .7;
    pointer-events: none;
}

body:empty {
    padding-top: 2rem;
    text-align: center;
}

body:empty::after {
    content: 'Loading... please wait.';
}
